<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" 
	  th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="common.html :: head"></head>
<body>
	<header th:replace="common.html :: header"></header>
	<section>
		<h1>Feedbacks</h1>
		
		<th:block th:if="${pageAllFeedbacksForRole != null}">
			<div class="schedule_cont" th:if="${pageAllFeedbacksForRole.totalPages > 0}">
				<h3>Feedbacks for you</h3>
				<table class="table_schedule">
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Service type</th>
						<th>Customer</th>
						<th>Master</th>
						<th>Rating</th>
						<th>Text</th>
					</tr>
					<tr th:each="feedback : ${pageAllFeedbacksForRole}">
						<td th:text="${feedback.appointmentDate}"></td>
						<td th:text="${feedback.appointmentTime}"></td>
						<td th:text="${feedback.serviceType}"></td>
						<td th:text="${feedback.customer.firstName}"></td>
						<td th:text="${feedback.master.firstName}"></td>
						<td th:text="${feedback.rating}"></td>
						<td th:text="${feedback.textMessage}"></td>
					</tr>		
				</table>
		 		<div th:if="${pageAllFeedbacksForRole.totalPages > 1}" class="pagination">
		 			<a th:if="${pageAllFeedbacksForRole.hasPrevious()}" th:href="@{/feedbacks(page=${pageAllFeedbacksForRole.number-1})}">&laquo;</a>
					<th:block th:each="i: ${#numbers.sequence(0, pageAllFeedbacksForRole.totalPages - 1)}">
						<a th:if="${pageAllFeedbacksForRole.number == i}" th:text="${i}+1" class="active"></a>
						<a th:unless="${pageAllFeedbacksForRole.number == i}" th:href="@{/feedbacks(page=${i})}" th:text="${i}+1"></a>
					</th:block>
		 			<a th:if="${pageAllFeedbacksForRole.hasNext()}" th:href="@{/feedbacks(page=${pageAllFeedbacksForRole.number+1})}">&raquo;</a>
		 		</div>
			</div>
			<div class="schedule_cont" th:unless="${pageAllFeedbacksForRole.totalPages > 0}">
				<h3>Nothing to show yet...</h3>
			</div>
		</th:block>
		
    </section>
    <br>
    <br>
    <br>
	
	<script th:src="@{/js/common.js}"></script>
</body>
</html>