<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:testuser.properties"/>
	
    <bean id="adminBean" class="ua.training.entities.User">
        <property name="login" value="${auser.login}"/>
        <property name="passwordHash" value="${auser.passwordHash}"/>
        <property name="name" value="${auser.name}"/>
        <property name="userRole" value="${auser.userRole}"/>
    </bean>
	
</beans>