<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<INTERACTIVE_MODE>false</INTERACTIVE_MODE>
	<USER_LOCALE_LANGUAGE>uk</USER_LOCALE_LANGUAGE>
	<USER_LOCALE_COUNTRY>UA</USER_LOCALE_COUNTRY>
	<PATH_TO_FOLDER_WITH_GRAPHIC_FILES>graphicFiles</PATH_TO_FOLDER_WITH_GRAPHIC_FILES>
	<MIN_SIZE>12500</MIN_SIZE>
	<MAX_SIZE>50000</MAX_SIZE>
	<MIN_DATE_MODIFIED>1575160669900</MIN_DATE_MODIFIED>
	<MAX_DATE_MODIFIED>1575171434830</MAX_DATE_MODIFIED>
	<TAG_TO_FILTER>signs</TAG_TO_FILTER>
	<HOW_TO_FILTER>1</HOW_TO_FILTER>
	<HOW_TO_SORT>1</HOW_TO_SORT>
	<DATE_FORMAT>yyyy.MM.dd HH:mm:ss</DATE_FORMAT>
</configuration>